.bg-img{
  background-image: url(top-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  color: white;
  min-height: 48vh;
}

.bg-blue{
  background-color: #009bdf;
  color: white;
}

.bg-dark{
  color: white;
}